template(name="showCategory")
    h2 Categorie : #{title}
    table.table.table-striped
        thead
            tr
                th Titre
                th Réalisateur
                th Date
                th Actions
        tbody
            each movies
                tr
                    td #{title}
                    td #{director}
                    td #{date}
                    td 
                        a(href="{{pathFor 'showMovie'}}") Voir