template(name="homepage")
    .col-xs-12
        .col-xs-4.col-xs-offset-8
            input.form-control.pull-right(name="search" type='text' placeholder="Search")
        .row
            each movies
                +movieList
            