template(name="homepage")
    .col-xs-12
        +searchForm
        .row
            h2 Catégories
            each categories
                +categoryList
        .row
            h2 Derniers films ajoutés
            each movies
                +movieList
            