template(name="homepage")
    .row
        h2 Catégories
        each categories
            +categoryList
    .row
        h2 Derniers films ajoutés
        each movies
            +movieList
            